@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --ff: "Montserrat", sans-serif;
    --colorbackground: hsl(0, 0%, 0%);
    --colortext: hsl(0, 0%, 100%);
    --coloraccent2: hsl(36, 100%, 50%);
    --coloraccent3: hsl(2, 100%, 54%);
    --h1: bold 64px/72px var(--ff);
    --h2: bold 48px/64px var(--ff);
    --h3: bold 36px/48px var(--ff);
    --p: 18px/36px var(--ff)
}
body{
    max-width: 1280px;
    margin: 100px auto;
    margin-bottom: 0px;
    background-color: var(--colorbackground);
    color: var(--colortext);
    display: flex;
    gap: 40px;
    align-items: center;
    flex-wrap: wrap;
}
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 1.5rem 5%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    font: var(--p);
    box-sizing: border-box;
}
#menu-icon{
    font-size: 3.5rem;
    color: var(--colortext);
    display: none;
    cursor: pointer;
}
.logo{
    max-width: 80px;
    font-size: 3rem;
    color: var(--colortext);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.logo:hover{
    transform: scale(1.1);
}
span{
    background: linear-gradient(
        270deg,
        var(--coloraccent2) 10%, 
        var(--coloraccent3) 100%
    );
    background-clip: text;
    color: transparent;
    letter-spacing: 0.2px;
}
.navbar b{
    font-size: 1.3rem;
    color: var(--colortext);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
    cursor: pointer;
    text-wrap: nowrap;
}
.navbar b:hover{
    color: var(--coloraccent2);
    border-bottom: 3px solid var(--coloraccent2);
}
.gradient-btn{
    font-size: 1.3rem;
    padding: 1rem 2rem;
    border-radius: 3rem;
        background: linear-gradient(
        270deg,
        var(--coloraccent2) 10%, 
        var(--coloraccent3) 100%
    );
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    color: var(--colortext);
    border: none;
    text-wrap: nowrap;
}
.gradient-btn:hover{
    transform: scale(1.05);
}
section{
    padding: 0rem 5%;
    width: 100%;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    min-height: 100vh;
}
.home-content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}
.home-content h1{
    font-size: 4rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
    font: var(--h1)
}
.home-content h3{
    margin: 1rem 0;
    font-size: 2rem;
    font: var(h3)
}
.home-content p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
}
.home-img img{
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--coloraccent2);
    transition: 0.4s ease-in-out;
}
.home-img img:hover{
    box-shadow: 0 0 25px var(--coloraccent2),
                0 0 50px var(--coloraccent2),
                0 0 100px var(--coloraccent2);
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding: 1rem;
    background: transparent;
    border: 2px solid var(--coloraccent2);
    border-radius: 50%;
    color: var(--colortext);
    margin: 3rem 0.5rem;
    transition: 0.3s ease-in-out;
    text-decoration: none;
}
.social-icons a:hover{
    color: var(--colortext);
    background-color: var(--coloraccent2);
    transform: scale(1.2)translateY(-5px);
    box-shadow: 0 0 25px var(--coloraccent2);
}
::-webkit-scrollbar{
    width:10px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--coloraccent2);
    border-radius: 3px;
}
::-webkit-scrollbar-track{
    background-color: var(--colorbackground);
}
.Ft-Proj{
    background-color: var(--colorbackground);
    font: var(--h3);
    font-size: 1.5rem;
    font-weight: 400;
}
.projects-box{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    place-items: center;
    gap: 3rem;
    row-gap: 5rem;
    width: 100%;
}
.project-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--colorbackground);
    border: 2px solid var(--coloraccent2);
    border-radius: 3rem;
    gap: 2rem;
    padding: 5rem 2rem;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 5px var(--coloraccent2);
    transition: 0.3s ease-in-out;
    max-width: 300px;
}
.project-card:hover{
    box-shadow: 0 0 25px var(--coloraccent2),
                0 0 50px var(--coloraccent2);
    transform: scale(1.02);
}
.project-card video, 
.project-card img{
    max-width: 300px;
    border-radius: 2rem;
    object-fit: cover;
}
.project-card h3{
    font-size: 2rem;
    font: var(--h3);
}
.project-card p{
    font-size: 1.6rem;
    font: var(--p);
}
.contact{
    background-color: var(--colorbackground);
}
.contact h2{
    margin-bottom: 1.5rem;
    color: var(--colortext);
    font: var(--h2)
}

.contact form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 1rem 2rem;
    text-align: center;
}
.contact form .input-box input, 
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.5rem;
    color: var(--colortext);
    background-color: var(--colorbackground);
    border-radius: 2rem;
    border: 2px solid var(--coloraccent2);
    margin: 1.5rem 0rem;
    resize: none;
    max-width: 90%;
}
.footer{
    background-color: var(--colorbackground);
    padding-bottom: 50px;
    margin-top: 0px;
    width: 100%;
}
.footer .social-icons{
    text-align: center;
}
.footer .copyright{
    text-align: center;
    margin-bottom: 0px;
    font-size: 16px;
}

@media(max-width:1000px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding-left: 0;
        padding-right: 5rem;
        padding-bottom: 1.5rem;
        background-color: rgba(0, 0, 0, 0.8);
        border-bottom-left-radius: 2rem;
        border-left: 2px solid var(--coloraccent2);
        border-bottom: 2px solid var(--coloraccent2);
        display: none;
    }
    .navbar b{
        display: block;
        font-size: 1.4rem;
        margin: 1.3rem 1.5;
        color: var(--colortext)
    }
    .navbar.active{
        display: block;
    }
    .gradient-btn{
        display: none;
    }
    .home{
        flex-direction: column-reverse;
        margin: 5rem 0;
        gap: 5rem;
    }
    .home-content{
        align-items: center;
        text-align: center;
    }
    .home-img img{
        width: 56vw;
    }
    .contact form{
        flex-direction: column;
        row-gap: 0rem;
    }
    .contact form .input-box input, 
    .contact form textarea{
        margin: 0.5rem 0rem;
        padding: 1rem;
        font-size: 1rem;
    }
}